<div class="navbar-container">
  <!-- Logo -->
  <% link_to "" do %>
  <%= image_tag "my_profile_pic.jpeg", alt: "Profle Pic", class:"avatar"%>
  <% end %>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right d-none d-xs-none d-sm-block">

    <%= link_to "About Me", "#about", class:"navbar-wagon-item navbar-wagon-link"%>
    <%= link_to "Education", "#education", class:"navbar-wagon-item navbar-wagon-link"%>
    <%= link_to "Experience", "#experience", class:"navbar-wagon-item navbar-wagon-link"%>
    <%= link_to "Skills", "#skills", class:"navbar-wagon-item navbar-wagon-link"%>
    <%= link_to "Portfolio", "#projects", class:"navbar-wagon-item navbar-wagon-link"%>

    <!-- Profile picture with dropdown list -->
  </div>

</div>
