
<div class="container">
  <div class="white-card top text-center">
    <%= image_tag "my_profile_pic.jpeg", alt: "Profile Pic Lucca Kaiser", id:"profile" %>
    <h1>Lucca Kaiser</h1>
      <h2>Developer</h2>
        <p>Welcome to my profile page!</p>
        <p>I am a recent graduate from Le Wagon Berlin, where I found my true passion in coding.</p>
        <a target="_blank" rel="noopener noreferrer" href = "mailto: luccakaiser@gmail.com" class="btn btn-blue">Contact Me!</a>
  </div>


    <div class="white-card top text-center">
        <h2 id="about">About me</h2>
        <p>Originally from Switzerland, moved to Berlin in Spring of 2017. Love to play and watch football. Love music and music festivals. Love video games.
        </p>
        <div class="row">
          <div class="col-12 col-md-4">
            <i class="fas fa-birthday-cake"></i>
            <h3>March, 1990</h3>
          </div>
          <div class="col-12 col-md-4">
            <i class="fas fa-plus-square"></i>
            <h3>Swiss</h3>
          </div>
          <div class="col-12 col-md-4">
            <i class="fas fa-address-card"></i>
            <h3>Berlin</h3>
          </div>
          <div class="col-16 col-md-4">
            <i class="fas fa-futbol"></i>
            <h3>Football</h3>
          </div>
          <div class="col-16 col-md-4">
            <i class="fab fa-spotify"></i>
            <h3>Music</h3>
          </div>
          <div class="col-16 col-md-4">
            <i class="fas fa-gamepad"></i>
            <h3>Video Games</h3>
          </div>

        </div>
    </div>



    <div class="white-card top text-center">
      <h2 id="education">Education</h2>
      <p>Recently graduated from Le Wagon Berlin as a FullStack developer.
      </p>
    <div class="row">
      <div class="col-12 col-md-6">
        <% link_to "https://www.lewagon.com/" do %>
        <%= image_tag "le-wagon.png", alt: "Le Wagon", class:"pic-size-logo" %>
          <!-- <h3>Boostability</h3> -->
          <p class="job-description">FullStack Developer</p>
          <p class="job-description">2018</p>
        <% end %>
      </div>
      <div class="col-12 col-md-6">
        <% link_to 'https://www.fhsg.ch/' do %>
          <%= image_tag "fhsg.jpeg", alt: "Fachhochschule St.Gallen", class:"pic-size-logo"  %>
          <!-- <h3>DLS Lehrmittel AG</h3> -->
          <p class="job-description">Bsc in business administration</p>
          <p class="job-description">2010-2014</p>
        <% end %>
      </div>
    </div>

    </div>

    <div class="white-card top text-center">
        <h2 id="experience">Experience</h2>
        <p>
        More than 6 years of experience as an (seo) account manager. And as a former professional football player I am a proven team player.
        </p>
        <p>
        I am motivated and inspired to make my mark in web development to create beautiful and useful digital products.</p>
      <div class="row">
        <div class="col-12 col-md-6">
          <% link_to "https://www.boostability.com/" do %>
          <%= image_tag "boostability.jpeg", alt: "Boostability", class:"pic-size-logo" %>
            <!-- <h3>Boostability</h3> -->
            <p class="job-description">SEO Account Manager</p>
            <p class="job-description">2018</p>
          <% end %>
        </div>
        <div class="col-12 col-md-6">
          <% link_to 'http://dls-lehrmittel.ch/_content/default.aspx' do %>
            <%= image_tag "dls.jpeg", alt: "DLS Lehrmittel", class:"pic-size-logo"  %>
            <!-- <h3>DLS Lehrmittel AG</h3> -->
            <p class="job-description">Account Manager</p>
            <p class="job-description">2011-2016</p>
          <% end %>
        </div>
      </div>
    </div>

  <div class="white-card text-center">
    <h2 id="skills">Skills</h2>
    <p>
    A few of my technical skills:
    </p>
    <div class="row">
      <div class="col-6 col-md-4">
        <%= image_tag "ruby.png", alt: "Ruby", class:"pic-size" %>
      </div>
      <div class="col-6 col-md-4">
        <%= image_tag "rails.png", alt: "Rails", class:"pic-size" %>
      </div>
      <div class="col-6 col-md-4">
        <%= image_tag "github.png", alt: "Github", class:"pic-size" %>
      </div>
      <div class="col-6 col-md-4">
        <%= image_tag "html.svg", alt: "HTML", class:"pic-size" %>
      </div>
      <div class="col-6 col-md-4">
        <%= image_tag "css.svg", alt: "CSS", class:"pic-size" %>
      </div>
      <div class="col-6 col-md-4">
        <%= image_tag "javascript.png", alt: "JavaScript", class:"pic-size" %>
      </div>
    </div>
  </div>

  <div class="white-card text-center">
    <h2 id="projects">Notable Projects</h2>
    <p>
    A few of my projects:
    </p>
      <div class="row">
      <div class="col-12 col-md-4">
        <% link_to 'https://www.digital-pub.live/' do%>
          <h3 class="text-center">Digital Pub</h3>
          <p>Chats for football fans. Built with Ruby on Rails.
          </p>
          <%= image_tag "digital-pub.png", alt: "digital-pub", class:"pic-size-big" %>
        <% end %>
      </div>
      <div class="col-12 col-md-4">
        <% link_to 'https://need-a-cocktail.herokuapp.com/' do %>
            <h3 class="text-center">Need a Cocktail</h3>
            <p>Website for cocktails. Built with Middleman.
            </p>
            <%= image_tag "need-a-cocktail.png", alt: "need-a-cocktail", class:"pic-size-big" %>
        <% end %>
      </div>
      <div class="col-12 col-md-4">
        <% link_to 'https://sportify-tococorocko.herokuapp.com/' do%>
          <h3 class="text-center">Sportify</h3>
          <p>Find sports fields. Built with Ruby on Rails.
          </p>
          <%= image_tag "sportify.png", alt: "Sportify", class:"pic-size-big" %>
        <% end %>
      </div>
    </div>

  </div>

  <div class="white-card text-center">
    <ul class="list-inline">
      <li class="text-center">
        <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/lucca.keisherson">
          <i class="fab fa-facebook-f"></i>
          <p>Facebook</p>
        </a>
      </li>
      <li class="text-center">
        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/lucca-k-17b2a9146/">
          <i class="fab fa-linkedin-in"></i>
          <p>Linkedin</p>
        </a>
      </li>
      <li class="text-center">
        <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/Tococorocko">
          <i class="fab fa-twitter"></i>
          <p> Twitter </p>
        </a>
      </li>
      <li>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/tococorocko">
          <i class="fab fa-github"></i></i>
          <p> Github</p>
        </a>
      </li>
    </ul>
    © Lucca Kaiser. All rights reserved.
  </div>
</div>
